* 
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#mainWrapper 
{
    border: 1px solid #000;
    width: 600px;
    padding: 1.5rem;
}

h1 {
    text-align: center;
}

input 
{
    width: 100%;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 0.5rem 0rem;
}

#tasks
{
    border: 1px solid #000;
    min-height: 200px;
}

p{
    border: 1px solid #333;
    background-color: rgb(250, 204, 120);
    font-weight: bold;
    padding: 5px;
    font-size: 25px;
    text-shadow: 2px 2px black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    cursor: default;
}

span
{
    border: 1px solid #000;
    color: orange;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 5px;
    text-shadow: none;
    text-decoration: none;
}

span:hover {
    background-color: orange;
    color: white;
}

.checked
{
    background-color: green;
    text-decoration: line-through;
}