*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dice
{
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    align-content: center;
    text-align: center;
    font-size: 30px;
}

button
{
    padding: 20px;
    font-size: 30px;
}